{% load static %}
<nav style='margin-left:45%;' aria-label="Page navigation example">
    <ul class="pagination">
        
        {% if queryset.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{queryset.previous_page_number}}" aria-label="Previous" data-page="{{queryset.previous_page_number}}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}




        {% for page in custom_range %}
        {% if page == queryset.number %}
        <li class="page-item"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
        {% endif %}
        {% endfor %}




        {% if queryset.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{queryset.next_page_number}}" aria-label="Previous" data-page="{{queryset.next_page_number}}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
    </ul>
  </nav>

<script src="{% static 'home/js/scripts.js' %}"></script>