{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock title %}

{% block contents %}
<form method='POST'>
  {% csrf_token %}
    <div class="container-md mt-4 pb-4 pt-4 bg-light shadow-lg">
        <h3 style='font-weight:bold;'>Password reset complete</h3>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'user:login' %}" class="nav-link">login</a>
    </div>
</form>

{% endblock contents %}