{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock title %}

{% block contents %}
<form method='POST'>
  {% csrf_token %}
    
    <div class="container-md mt-4 pb-4 pt-4 bg-light shadow-lg">
        <h3 style='font-weight:bold;'>Password reset sent</h3>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <br>
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        
    </div>
        

</form>

{% endblock contents %}