{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock title %}

{% block contents %}
<form method='POST'>
  {% csrf_token %}
    
    <div class="container-md mt-4 pb-4 pt-4 bg-light shadow-lg">
        <h3 style='font-weight:bold;'>Password reset</h3>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <div id="div_id_email" class="ctrlHolder">
            <label for="id_email" class="requiredField">
                Email
            </label>
            <input type="email" name="email" autocomplete="email" maxlength="254" class="form-control" required="" id="id_email">
        </div>
        <br>
        <input class='btn btn-primary' type="submit" value="send">

    </div>
        

</form>
{% endblock contents %}